body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(fondo.jpg) center center;
    background-size: cover;
}
.contenedor{
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0);
}

.boton-redireccion{
    background-color: rgb(230, 59, 59);
    color: black;
    padding: 10px 20px;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.boton-redireccion:hover{
    background-color: gray;
}